<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">

    <div class="container">

        <div>




            <table class="table table-bordered text-center">
                <thead>

                </thead>
                <tbody>


                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-6" id="smile1" ng-click="smile1click()"><img src="/img/smile1.jpg" class="img-thumbnail"></div>

                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6" id="smile1" ng-click="smile2click()"><img src="/img/smile2.jpg" class="img-thumbnail"></div>

                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6" id="smile1" ng-click="smile3click()"><img src="/img/smile3.jpg" class="img-thumbnail"></div>

                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6" id="smile1" ng-click="smile4click()"><img src="/img/smile4.jpg" class="img-thumbnail"></div>

                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6" id="smile1" ng-click="smile5click()"><img src="/img/smile5.jpg" class="img-thumbnail"></div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Excellent</h3></div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Good</h3></div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Average</h3></div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Poor</h3></div>
                            </div>
                        </td>

                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Very Poor</h3></div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1>{{smile1Amount}}</h1></div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1>{{smile2Amount}}</h1></div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1>{{smile3Amount}}</h1></div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1>{{smile4Amount}}</h1></div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1>{{smile5Amount}}</h1></div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
            <h6 class="text-center">       AGDIT SOLUTION BD LTD
</h6>







        </div>

    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {


            $scope.smile1Amount = 0;
            $scope.smile2Amount = 0;
            $scope.smile3Amount = 0;
            $scope.smile4Amount = 0;
            $scope.smile5Amount = 0;



            $scope.smile1click = function () {

                $scope.smile1Amount++;
            }
            $scope.smile2click = function () {

                $scope.smile2Amount++;
            }
            $scope.smile3click = function () {

                $scope.smile3Amount++;
            }
            $scope.smile4click = function () {

                $scope.smile4Amount++;
            }
            $scope.smile5click = function () {

                $scope.smile5Amount++;
            }



        });
    </script>
</body>

</html>